
  
.days_wrapper
  width: 100%
  padding: 20px
  position: relative
  border-radius: 20px
  box-shadow: 5px 2px 5px #303846
  box-shadow: 5px 2px 5px var(--shadow-default)
  transition: 1s

  
  .background_transparent
    background-color: var(--bg-default)
    opacity: 0.3
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute
    z-index: -1
    border-radius: 5px
  .days
    margin: 0
    box-sizing: border-box
    .filter
      padding-top: 10px
      display: flex
      justify-content: space-between
      border-radius: 20px
      button
        padding: 20px 9px
        font-weight: 400
        font-size: 18px
        margin-right: 15px
        border: none
        border-radius: 10px
      .button active
        background-color: #4793FF
      .filter_wrapper
          display: flex
          justify-content: space-between
    .week_day_wrapper
      width: 100%
      display: flex
      justify-content: space-between
      .week_day
        padding: 10px
        // border-radius: 5px
        width: 150px
        display: flex
        flex-direction: column
        color: var(--color-default)
        transition: 1s
        &:hover
          border-top: 1px solid gold
          transform: translateY(-5px)
        .day_day
          color: #303846
          font-size: 18px
          font-weight: 500
          margin-bottom: 0
          color: var(--colorTitle-default)
          transition: 1s
        .day_info
          font-size: 14px
        .temp_day

          margin-top: 20px
          margin-bottom: 5px
          font-size: 20px
          color: #303846
          color: var(--colorTitle-default)
        .temp_night
          margin-top: 3px
          font-size: 14px
          color: var(--color-default)
        .info
          font-size: 16px
          margin-bottom: 0
          text-align: start
          color: #fff
          color: var(--color-default)





@media (min-width: 992px) and (max-width: 1199px) 
  .days_wrapper .days .days_days_wrapper  .day 
    padding: 5px
    width: 120px

@media (min-width: 768px) and (max-width: 991px)
  .days_wrapper .days .days_days_wrapper  
    .day 
      padding: 2px
      width: 92px
      .day_day
        font-size: 13px
      .info
        font-size: 12px

@media (min-width: 574px) and (max-width: 768px)
  .days_wrapper .days .days_days_wrapper  
    .day 
      padding: 2px
      width: 67px
      .day_day
        font-size: 13px
      .info
        font-size: 12px


@media  (max-width: 573px)
  .days_wrapper 
    // height: 150px
    border-radius: 5px
    padding: 1px
    justify-content: start
    .days
      width: 97%
      
      .week_day_wrapper
        
        flex-wrap: wrap
        .week_day
          margin: 5px
          height: 22vh
          width: 18vw
          border: 1px solid #fff
          .temp_night
            margin-bottom: 0
          .day_day
            margin-bottom: 4px
            font-size: 9px
            font-weight: 300
          .day_info
            font-size: 10px

          .info
            font-size: 9px
      