@import '../../../../Style/variable' 
  
.days_wrapper
  width: 1250px
  padding: 20px
  position: relative
  overflow: hidden
  border-radius: $bordRds
  box-shadow: $box-shadow
  .background_transparent
    background-color: $bg
    opacity: 0.2
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute
    z-index: -1
  .days
    margin: 0
    box-sizing: border-box

   
    .filter
      padding-top: 10px
      display: flex
      justify-content: space-between
      border-radius: $bordRds

      button
        padding: 20px 9px
        font-weight: 400
        font-size: 18px
        margin-right: 15px
        margin-bottom: 5px
        border: none
        border-radius: 10px
      .button active
        background-color: $primary
      .filter_wrapper
          display: flex
          justify-content: space-between

    .days_days_wrapper
      width: 100%
      display: flex
      justify-content: space-between

      .day
        padding: 10px
        background-color: $bgBlue
        border-radius: 5px
        width: 150px
        display: flex
        flex-direction: column
        color: $secondary
        .day_day
          color: $dark
          font-size: 18px
          font-weight: 500
          margin-bottom: 0
        .day_info
          font-size: 14px
        .temp_day
          margin-top: 20px
          margin-bottom: 5px
          font-size: 18px
          color: $dark
        .temp_night
          margin-top: 3px
          font-size: 16px
        .info
          font-size: 14px
          margin-bottom: 0
