@import '../../../../Style/variable' 
  
.WeatherToday
  max-width: 400px
  height: 300px
  padding: 20px
  box-shadow: $box-shadow
  border-radius: $bordRds
  display: flex
  flex-direction: column
  justify-content: space-between
  position: relative
  .background_transparent
      background-color: $bg
      opacity: 0.2
      width: 100%
      height: 100%
      top: 0
      left: 0
      position: absolute
      z-index: -1

  .block_top
    display: flex
    justify-content: space-between
    .taday_temperature
      font-size: 96px
      font-weight: 500
      color: $primary
      
    svg
      height: 100px
      width: 100px
  .block_bottom
    display: flex
    justify-content: space-between
    flex-direction: column
    .block_bottom_taim,
    .block_bottom_town
      font-size: 25px
      color: $secondary
      padding: 5px
      line-height: 30px
      font-weight: 400