@import '../../Style/var.sass'
    
.header
    height: 100px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: space-around
    padding: 15px
    box-sizing: border-box
    .wrapper
        display: flex
        align-items: center
        svg
            color: #e11313 !important
            height: 40px
            width: 40px
            background-color: var(--icon-default)
            border-radius:  20px
             


@media (min-width: 574px) and (max-width: 767px)
    .header
        height: 63px

